.card {
    width: clamp(12.5rem, 60vw ,20rem);
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 2.5rem;
    border-radius: 1.25rem;
    background-color: var(--surface-light);
    text-align: center;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  
    img {
      width: clamp(4rem, 20vw, 18rem);
      border-radius: 0.75rem;

    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        flex: 1;
    }
  }