<div class="buttons">
<button
  appButton
  [label]="qrCard.isUppercase() ? 'Sentence Case' : 'Uppercase'"
  class="btn btn--toggle"
  (click)="qrCard.isUppercase.set(!qrCard.isUppercase())"
></button>

<!-- Toggle layout orientation -->
<button
  appButton
  [label]="qrCard.orientation() === 'column' ? 'Switch to Row' : 'Switch to Column'"
  class="btn btn--orientation"
  (click)="qrCard.orientation.set(qrCard.orientation() === 'column' ? 'row' : 'column')"
></button>

<!-- Flip content -->
<button
  appButton
  [label]="qrCard.isFlipped() ? 'Unflip Content' : 'Flip Content'"
  class="btn btn--flip"
  (click)="qrCard.isFlipped.set(!qrCard.isFlipped())"
></button>

<button
  appButton
  [icon]="getThemeIcon()"
  class="btn btn-icon"
  (click)="toggleTheme()">
</button>
</div>
<app-qr-card />
<router-outlet />

